{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('miAgenda') }}" id="miAgenda">Mi agenda <span
                                class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    </body>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
    datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet"
          href="{{ asset('https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css') }}"
          media="screen,projection"/>


    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}