{% extends 'layaut_admin.html.twig' %}
  {% block content %}
      <form method="post" id="form" action="{{ path('crearTarea') }}">
          <div id="body">

          </div>
      </form>
  {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var url = "{{ path('miAgendaAjax') }}"
            $.post(url, function (data) {
                $('#body').html(data);
                $('#example').DataTable();

                $('#nuevaTarea').click(function (e) {
                    e.preventDefault();
                    var url = "{{ path('crearTarea') }}"
                    $.post(url, function (data) {
                        $('#body').html(data);
                    });
                });

                $('.actionModificarTarea').click(function (e) {
                    e.preventDefault();
                    var url = "{{ path('modificarTarea', { 'idTarea' : 'idTarea' }) }}";
                    url = url.replace('idTarea', $(this).data('identificador'));
                    $.post(url, function (data) {
                        $('#body').html(data);
                        $('#form').attr('action', url);
                    });
                });
                $('.actionEliminarTarea').click(function (e) {
                    e.preventDefault();
                    var url = "{{ path('eliminarTarea', { 'idTarea' : 'idTarea' }) }}";

                    url = url.replace('idTarea', $(this).data('identificador'));
                    var r = confirm("¿Esta seguro que desea realizar esta operación?")
                    if (r == true) {
                        $.post(url, function (data2) {
                            $.alert('La operación ha si realizada satisfactoriamente.', {
                                title: 'Mensaje',
                                closeTime: 1500,
                                position: ['top-right'],
                                type: 'success',
                            });
                            setTimeout(function () {
                                    location.href = location.href;
                                },
                                1600
                            );
                        });
                    }
                });
                $('.actionCompletarTarea').click(function (e) {
                    e.preventDefault();
                    var url = "{{ path('completarTarea', { 'idTarea' : 'idTarea' }) }}";
                    url = url.replace('idTarea', $(this).data('identificador'));
                    var r = confirm("¿Esta seguro que desea realizar esta operación?")
                    if (r == true) {
                        $.post(url, function (data2) {
                            $.alert('La operación ha si realizada satisfactoriamente.', {
                                title: 'Mensaje',
                                closeTime: 1500,
                                position: ['top-right'],
                                type: 'success',
                            });
                            setTimeout(function () {
                                    location.href = location.href;
                                },
                                1600
                            );
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

