<br>
<div class="row">
    <div class="col-md-12">
        <a id="nuevaTarea" class="btn btn-primary float-md-right">Crear tarea</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h5>Mi agenda</h5>
        <hr>
    </div>
</div>
{% if tareas | length > 0 %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>N.</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de creación</th>
            <th>Fecha límite</th>
            <th>Completada</th>
            <th>Categoría</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for element,item in tareas %}
            {% set id = item.id %}
            <tr id="tr_{{ item.id }}">
                <td>{{ element+1 }}</td>
                <td>{{ item.nombre | default('-') }}</td>
                <td>{{ item.descripcion | default('-') }}</td>
                <td>{{ item.fechaCreacion | date('d/m/Y') }}</td>
                <td>{{ item.fechaLimite | date('d/m/Y') }}</td>
                <td>{{ item.completada ? 'Si': ("now"|date('Y-m-d') > item.fechaLimite| date('Y-m-d')  ?
                    'No' : 'Si') }} </td>
                <td>{{ item.idCategoria.nombre | default('-') }}</td>
                <td>
                    <a class="actionModificarTarea" data-identificador="{{ id }}" title="Modificar tarea"><i
                                class="fa fa-edit"></i></a>
                    <a class="actionEliminarTarea" data-identificador="{{ id }}" title="Eliminar tarea"><i
                                class="fa fa-trash"></i></a>
                    <a class="actionCompletarTarea" data-identificador="{{ id }}" title="Completar tarea"><i
                                class="fa fa-toggle-off"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    No existen registros que mostrar
{% endif %}
