<div class="row">
    <div class="col-md-12">
        <br>
        <h5>Modificar tarea</h5>
        <hr>
    </div>
</div>

{{ form_start(form) }}
<div class="container">
    <input type="hidden" id="idTarea" name="idTarea" value="{{ tarea.id }}">
    <div class="form-row">
        <div class="col-md-12">
            {{ form_row(form.nombre) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.fechaLimite) }}
            {{ form_row(form.idCategoria) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <br>
    <br>
    <button id="btnSubmitModificar" class="btn btn-primary" type="submit">{{ button_label|default('Guardar') }}</button>
</div>

{{ form_end(form) }}
