<div class="row">
    <div class="col-md-12">
        <br>
        <h5>Registrar nueva tarea</h5>
        <hr>
    </div>
</div>

{{ form_start(form) }}
<div class="container">
    <div class="form-row">
        <div class="col-md-12">
            {{ form_row(form.nombre) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.fechaLimite) }}
            {{ form_row(form.idCategoria) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <br>
    <br>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Guardar') }}</button>

</div>
{{ form_end(form) }}
